@font-face {
  font-family: 'Merriweather Sans';
  src:url('../fonts/MerriweatherSans-Regular.ttf');
}
@font-face {
  font-family: 'Lato';
  src:url('../fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  src:url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Raleway';
  src:url('../fonts/Raleway-Regular.ttf');
}
*
{
	margin: 0;
	padding: 0;
}

body{
    background-image: url(../Imagenes/body.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    display: flex;
    flex-direction:column;
	justify-content: center;
	margin: 0 auto;
	
}  
#section1{
    display: flex;
    padding-top: 1.5%;
    flex-direction: column;
	justify-content: flex-start;
    background: rgba(252, 253, 250, 0.83);
    
} 
#carritob
{
	margin-top: .33em;
	font-size: 46px;
	font-family: 'Merriweather Sans';
	padding: 20px;
	padding-left: 30px;
	line-height: 45px;
	color: white;
	height: 90px;
	background:rgba(34, 58, 94, 0.9);
}
#cvacio{
	width: 100%;
	display: flex;
	justify-content: center;
}
#carrito
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	background: rgba(247, 247, 247, 0.83);
	min-height: 400px;
}
#cvacio2
{
	padding: 10px;
	width: 60%;
	height: 200px;
	line-height: 200px;
	text-align: center;
	background: rgba(253, 253, 253, 0.83);
	font-size: 30px;
	font-family: 'Lato';
	-webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.32);
}
#vermas
{
	position: relative;
	z-index: 1;
	padding: 10px;
	width: 75%;
	line-height: 70px;
	text-align: center;
	background: rgba(253, 253, 253, 0.83);
	font-size: 20px;
	font-family: 'Lato';
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-box-shadow: 1px 3px 10px 0px rgba(0,0,0,0.32);
}
#vermas a
{	color: rgba(5,5,5,.9);
	text-shadow: 1px 1px 8px rgba(150, 150, 150, 0.6);
	text-decoration: none;
}
#vermas a:visited
{	color: rgba(5,5,5,.9);
	text-shadow: 1px 1px 8px rgba(150, 150, 150, 0.6);
	text-decoration: none;
}

#imagenes{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  flex-direction:row;
  margin-top: 1.6em;
  width: 87%;
}
.aproduc{text-decoration: none;color: black;}
.pre{
  color:#87CEFA;
  font-family:calibri light;
  font-size:29px;
  margin-bottom: 0.5em;
  margin-left: -2em;
}

.imagen{
	max-width: 267px;
	height: 340px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.33);
    text-align:center;
    overflow:hidden;
    background: rgba(240, 240, 240,0.927);
    margin-bottom: 1.5em;
}
.imagen img{
  
width:267px;
  height:171px;
}
.imagen:hover{
    
    transition-property: all;
    transition-duration: .5s;
    -webkit-transform:scale(1.018);
    border:none;
}
.mostrard
{	
	cursor:pointer;
	display: flex;
	justify-content: center;
	width: 100%;align-items: center;
	line-height: 40px;
	margin-bottom: .3em;
}
.descc{
	margin-top: .5em;
	display: none;
	font-family: 'Merriweather Sans';
	font-size: 15px;
	padding: 10px;
	margin-left: .5em;
	color: rgba(60,60,60,0.7);
	text-align: left;
	
}

#n{ font-size: 18px;
	cursor:text;width: 267px;
	font-family:calibri light;padding: .5em;}
.d{
   box-shadow: 0 0 0 2px gray;
   transition: background 0.2s, color 0.2s;
   cursor: pointer;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   text-align: center;
   color: gray;
}
.d:before{
	content:"\e006";
	font-family: ecoicon;
	speak: none;
    font-size: 20px;
    line-height: 35px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    
}
#md{
	font-size: 17px;
	color: gray;
	font-family: Roboto;
	margin-left: 10px;
}
.carrito
{
	position: absolute;
	z-index: 1;
	cursor: pointer;
	background: none;
	border:none;
	margin-top: -1.48em;
	margin-left: .8em;
	font-size: 35px;
	color:#87CEFA;
	align-self: flex-end;
	outline: none;
}
.carrito:active, .carrito:focus{outline: none;}

.separador {
  border:none;
  height: 20px;
   width: 70%;
  height: 50px;
  margin-top: 0;
  border-bottom: .5px solid rgba(31, 18, 9, .8);
  box-shadow: 0 20px 20px -20px rgba(51, 51, 51, .3);
  margin: -50px auto 10px; 
}
.producto
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 70%;
	max-height: auto;
	font-family: 'Lato';
	font-size: 20px;
	color: rgba(47, 47, 47, .8);
	margin-top: 1em;
}
#imagen
{	margin-top: -1em;
	width: 256px;
	height: 144px;
}
#eliminarp{
	width: auto;
	margin-left: 83.5%;
	background: #272727;
	border: none;
	font-family: 'Raleway';
	color: #00C6EE;
	padding: 8px;
	font-size: 17px;
	box-shadow: 2px 3px 3px -1px rgba(0,0,0,0.33);
}
.subp
{	
	width: 100%;
}

#nombrec
{	margin-top: -144px;
	display: flex;
	flex-direction: column;
	width: 350px;
	margin-left: 31%;
	text-align: center;
}
#desc
{	display: flex;
	flex-direction: column;
	width: 350px;
	margin-left: 300px;
}
#pyc
{
	width:150px;
	
	margin-left: 68%;
	margin-top: -70px;
	text-align: center;
}
#suma{
	cursor: pointer;
	position: absolute;
	margin-left: 62.5%;
	margin-top: -3.3%;
	background: none;
	border: none;
	font-size: 45px;
	color:#272727;
	margin-bottom: .7%;
	outline: none;
	height: 0px;
}
#cantidad
{
	margin-left: 71%;
	
}
.menosb
{	cursor: pointer;
	outline: none;
	position: absolute;
	margin-left: 62.5%;
	background: none;
	border: none;
	font-size: 45px;
	color:#272727;
	height: 0px;
	
}
.subtp
{	margin-left: 83%;
	text-align: center;
	margin-bottom: 1.3%;
	margin-top: 8%;
}
.ahoratodo
{	
	margin-top: 1em;
	display: flex;
	background: rgba(253, 253, 253, 0.83);
	flex-direction: column;
	align-items: flex-end;
	width: 70%;
	box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.33);
	padding: 10px;
}
.todof
{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.ahoratodo a{
	text-decoration: none;
	background: #272727;
	border: none;
	font-family: 'Raleway';
	color: #00C6EE;
	padding: 8px;
	font-size: 19px;
	box-shadow: 2px 3px 3px -1px rgba(0,0,0,0.33);
	
}
#atotal, #total
{
	color: rgba(47, 47, 47, .8);
	font-family: 'Lato';
	font-size: 20px;
	padding: 4px;
}
#lcarrito
{	position: absolute;
	align-self: center;
	background: #272727;
	color: white;
	font-family: 'Raleway';
	padding: 10px;
	border:none;
	margin-top: 20px;
}
.ahoratodo a:visited{
	color: #00C6EE;
}
#lcarrito:hover
{	
	background:white;
	color:  #272727;
	border: 1px solid #272727;
	transition: all .2s;
}

@media screen and (max-width: 720px)
{ 
	#desc,#nombrec,#pyc,#cantidad,.subtp
	{	
	width: 100%;margin: 0;
	}
	#eliminarp
	{
		margin: 0 auto;
		margin-top: .5em;
	}
	#cantidad{
		padding: 20px;
	}
	#suma{
		margin-top: -55px;
		margin-left: 150px;
	}
	.menosb
	{
		margin-top: -55px;
		margin-left: 230px;
	}
	.producto
	{
		max-width: 300px;width: 100%;
		flex-direction: column;
	}
	.separador {width: 90%;}
	#imagen{
		width:100%;
  		height:auto;
	}
	.ahoratodo{
		height: 140px;
	}
	#lcarrito{margin-top: 80px;}
	#cvacio{max-width: 100%;height: 20px;font-size: 10px;;}
	#carritob{
		height: 120px;
	}
}






