@font-face {
  font-family: 'Raleway';
  src:url('../fonts/Raleway-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
footer{
    width: 100%;
    font-family: "Raleway";
	
}
.a4, .a1, .a2, .a3{border-radius: 60%;}
.footer-container{
    width: 100%;
    background: #272727;
    color: #fff;
}

.footer-main{
    width: 98%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-columna li {
    list-style: none;
    text-decoration: none;
}
.footer-columna li a{
     color:#fff;
    
} 

.footer-main .footer-columna{
    width: calc(100% / 3);
    text-align: justify;

}

.footer-main .footer-columna:nth-child(2){
    padding: 0 80px;      
}
.footer-columna p
{
	margin-bottom: 0.3em;
}

.footer-main .footer-columna h3{
    font-size: 32px;
    color: #00C6EE;
    margin-bottom: 7px;
}

.footer-main .footer-columna input[type="text"]{
    border:none;
	outline: none;
    width: 80%;
    border: 1px solid #00C6EE;
    font-size: 14px;
    padding: 7px;
    font-family: "Raleway";
	margin-bottom: .3em;
}
.footer-main .footer-columna input[type="email"]{
    border:none;
	outline: none;
    width: 80%;
    border: 1px solid #00C6EE;
    font-size: 14px;
    padding: 7px;
    font-family: "Raleway";
}

.footer-main .footer-columna input[type="submit"]{
    border:none;
    background: rgb(0, 198, 238);
    color: #fff;
    padding: 10px 40px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    font-family: "Raleway";
    }   
.footer-main .footer-columna input[type="submit"]:hover{
	background: rgb(40, 240, 255);
	transition: all 2s;
}
.footer-main .footer-columna span p {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 15px;
    font-family: "Raleway";
}
#baja{
	font-size: 15px;
	color: gray;
	padding-top: 40px;
	margin-bottom: -20px;
}
#baja a{
	color: #ccc;
	text-decoration: none;
}
.footer-copy-redes{
    width: 100%;
    background: #000;
    border-top: 3px solid #fff;
}

.main-copy-redes{
    width: 98%;
    max-width: 1000px;
    padding: 15px 0;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.main-copy-redes .footer-copy{
	display: flex;
	width: 100%;
    color: #fff;
} 
.imgf{margin-left: 3em;}

.footer-copy-redes .footer-redes a{
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #000;
    text-align: center;

}

.footer-copy-redes .footer-copy a img{
    width: 40px;
    float: right;
    margin-left: 3px;
}

@media screen and (max-width: 750px){
    
   .footer-main .footer-columna{
    padding: 0 10px;  
   }


   .footer-main .footer-columna h3{
    font-size: 28px;
   }


   .footer-main .footer-columna p{
    font-size: 14px;
   }
}

@media screen and (max-width: 720px){ 
       .footer-main .footer-columna {
            width: 100%;
            text-align: center;
            margin: 10px 0;

       }

       .footer-main .footer-columna h3{
            margin-bottom: 10px;
            
       }
       .footer-main .footer-columna span{
            display: block;   
       }
	.footer-copy{
		justify-content: center;
		text-align: center;
		flex-direction: column;
	}
	.imgf{
		margin: 0;
		align-self: center;
		flex-direction: row;
	}
      
        .main-copy-redes .footer-copy a{
            width: 100%;
            margin:auto;
        }
}
